<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.turno }}<li><a target="_blank" href="{{.}}" class="icon solid style2 fa-t"><span class="label">Turno</span></a></li>{{end}}
            {{ with .Site.Params.social.nextdoor }}<li><a target="_blank" href="{{.}}" class="icon solid style2 fa-house"><span class="label">Nextdoor/span></a></li>{{end}}
            {{ with .Site.Params.social.thumbtack }}<li><a target="_blank" href="{{.}}" class="icon solid style2 fa-thumbtack"><span class="label">Thumbtack</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
        <p>Find and book us elsewhere on the web!</p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}